{% extends "base.html" %}

{% block content %}
<a href = "/blog/newpost">New Post<a>
<br>
<br>
  {% for p in posts %}
    {{ p.render() | safe }}
</br>

<div class="comment-count-container">
  <span class="comment-count">{{p.comments.count()}} comments</span>
  <a href="/blog/{{p.key().id()}}/newcomment">(add new comment)</a>
</div>

<div align = "right">
    <a href="/blog/{{p.key().id()}}/like">Like</a>
	<a href="/blog/{{p.key().id()}}/updatepost">Edit<a>
	<a href="/blog/{{p.key().id()}}/deletepost">Delete<a>
	</div>
<br>
  {% endfor %}

{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85889849-1', 'auto');
  ga('send', 'pageview');

</script>